<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>